#himn .st-singer {
  color: #ff69b4;
}

#himn .nd-singer {
  color: #1e90ff;
}

#himn .rd-singer {
  color: #9932cc;
}

#vwp .kaf {
  color: #ff00ff;
}

#vwp .rim {
  color: #0000cd;
}

#vwp .haru {
  color: #ff0000;
}

#vwp .sekai {
  color: #ffa500;
}

#vwp .koko {
  color: #8a2be2;
}

#vwp .all {
  text-shadow: 0px 0px 4px;
}

#aria .st-singer {
  color: #1e90ff;
}

#aria .nd-singer {
  color: #87ceeb;
}
